<html>

<head>
	<title>Tank Wars</title>

	<meta id="viewport" name="viewport"
		content="width=device-width, minimum-scale=1.0, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no, viewport-fit=cover" />
	<meta name="apple-mobile-web-app-capable" content="yes">

	<style>
		#pixi-canvas {
			position: fixed;
			width: 100vw;
			height: 100vh;
			top: 0;
			left: 0;
			background: rgba(0, 0, 0, 0.1);
			z-index: 0;
		}

		#controls {
			background: rgba(0, 0, 0, 0.4);
			width: 180px;
			padding: 20px;
			color: #fff;
			font-size: 18px;
			font-weight: 800;
			font-family: system-ui;
			z-index: 10;
			position: absolute;
		}
	</style>

</head>

<body>
	<noscript>Please enable JavaScript in your web browser to view this page.</noscript>
	<div id="pixi-content"><canvas id="pixi-canvas" /></div>
	<div id="controls">
		Navigation - WASD<br/>
		Fire - Spacebar
	</div>
</body>

</html>