<html>

<head>
	<title>Tank Wars</title>

	<meta id="viewport" name="viewport"
		content="width=device-width, minimum-scale=1.0, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no, viewport-fit=cover" />
	<meta name="apple-mobile-web-app-capable" content="yes">

	<style>
		#pixi-canvas {
			position: fixed;
			width: 100vw;
			height: 100vh;
			top: 0;
			left: 0;
			background: rgba(0, 0, 0, 0.1);
			z-index: 0;
		}

		#controls {
			background: rgba(0, 0, 0, 0.4);
			padding: 20px;
			z-index: 10;
			position: absolute;
			caret-color: transparent;
		}

		table th {
			text-align: left;
			font-weight: 800;
		}
	
		table th,
		table td {
			color: #ffffff;
			font-size: 18px;
			font-family: system-ui;
			padding: 2px 13px;
		}
	</style>

</head>

<body>
	<noscript>Please enable JavaScript in your web browser to view this page.</noscript>
	<div id="pixi-content"><canvas id="pixi-canvas" /></div>
	<div id="controls">
		<table>
			<thead>
				<th>Controls</th>
				<th>Key</th>
			</thead>
			<tbody>
				<tr>
					<td>Navigation</td>
					<td>W A S D</td>
				</tr>
				<tr>
					<td>Fire</td>
					<td>Spacebar</td>
				</tr>
				<tr>
					<td>Transform</td>
					<td>T</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>

</html>